.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .intro img {
  border-radius: 20px;
}
.home .music-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .music-images img {
  width: 28%;
  margin: 20px 2.5%;
}
.home .musica-nueva {
  padding: 15px;
}
.home .musica-nueva h3 {
  margin-top: 11px;
}
.home .musica-nueva p {
  margin-top: 13px;
}
.home .actual {
  margin-top: 60px;
  border-top: 1px solid black;
  padding: 50px 60px;
}
.home .actual .actual-text {
  width: 50%;
}
.home .actual .actual-text h3 {
  margin-bottom: 10px;
}
.home .actual .actual-text p {
  margin-bottom: 26px;
}
.home .actual .actual-text .btn {
  font-size: 15px;
  border-radius: 8px;
  width: 100px;
  padding: 11px;
}
.home .actual .actual-img {
  width: 46%;
  margin-left: 4%;
}
.home .actual .actual-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
